<html>

<head>
	<meta charset="utf-8">
	<title>M-Car Share</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="X-UA-Compatible" content="IE=edge;">
	<link rel="stylesheet" href="styles/vendor.css">
	<link rel="stylesheet" href="styles/app.css">
</head>
<body
	id="home">
	<header>
			<nav class="navbar navbar-inverse">
				<div class="container container-fluid">
					<div class="navbar-header"><button class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>						<a class="navbar-brand pull-left" href="#!/">M-Car Share</a>
						<ul class="account pull-right">
							<li class="text-lowercase"><a href="cars.html">My Account</a></li>
							<li class="text-lowercase"><a href="login.html">Sign In / Register</a></li>
						</ul>
					</div>
				</div>
			</nav>
	</header>
	<!--[if lt IE 10]>
 <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
 <![endif]-->
	<div id="viewHolder">
		<!-- uiView:  -->
		<div ui-view="" class="ng-scope">
			<div class="main-content container ng-scope">
				<div class="row region-0">
					<div class="page-title headline text-center"><span class="sub-title">Let's</span> <strong class="text-style-logo">Drive</strong>
						<p class="text-left">Welcome to M-Car Share™. The smart and seamless way to connect with the people, places and moments that matter to you.</p>
					</div>
				</div>
				<div class="row region-1">
					<div class="container">
						<div class="call-out">
							<div class="text">
								<h3 class="title">Get There <strong>Smarter.</strong></h3>
								<p class="body">Car sharing should make it easy for you to get there and back. In the newest cars. With the latest technologies.
									And the best prices. With M-Car Share that’s what you get.</p>
								<p id="watchVid" class="watch-link btn btn-default btn-block"><a href="#">Watch Video</a></p>
							</div>
							<div class="watch-video"><a href="#"><span></span></a></div>
						</div>
					</div><script id="vidModal.html" type="text/ng-template"><div class="modal-header"> <h3 class="modal-title">Introducing M-Car Share</h3> </div> <div class="modal-body"> <iframe width="100%" height="315" src="https://www.youtube.com/embed/-bMHqttdGgo?rel=0" frameborder="0" allowfullscreen></iframe> </div> <div class="modal-footer"> <button class="btn btn-primary" id="om-home-watchVideo-cancel" type="button" ng-click="cancelWatchVideo()">Exit Video </button> </div></script></div>
				<div
					class="row region-2">
					<div class="container">
						<div class="top-hero"><img src="https://www.mavendrive.com/assets/images/main/home/simple-hero.png" alt=""></div>
					</div>
			</div>
			<div class="row region-3">
				<div class="container center-block text-center">
					<h3 class="title"><strong>Get going</strong> in a few simple steps</h3>
				</div>
				<div class="getgoing">
					<div ng-controller="carouselInit1" class="ng-scope">
						<!-- ngRepeat: image in images -->
						<div class="col-lg-3 col-md-6 ng-scope" data-ng-repeat="image in images">
							<div style="height: 250px; position: relative;"><img style="bottom:0; position:absolute; max-width:100%" ng-src="https://www.mavendrive.com/assets/images/main/maven-simple-steps-1.png" src="https://www.mavendrive.com/assets/images/main/maven-simple-steps-1.png"></div>
							<div
								class="text">
								<div class="number ng-binding">01</div>
								<h3 class="title ng-binding">get the app</h3>
								<div class="body ng-binding">Sign up here for membership and download the app to your phone. We'll let you know when you're good to go.</div>
						</div>
					</div>
					<!-- end ngRepeat: image in images -->
					<div class="col-lg-3 col-md-6 ng-scope" data-ng-repeat="image in images">
						<div style="height: 250px; position: relative;"><img style="bottom:0; position:absolute; max-width:100%" ng-src="https://www.mavendrive.com/assets/images/main/maven-simple-steps-2.png" src="https://www.mavendrive.com/assets/images/main/maven-simple-steps-2.png"></div>
						<div
							class="text">
							<div class="number ng-binding">02</div>
							<h3 class="title ng-binding">choose your car</h3>
							<div class="body ng-binding">Pick the car you want based on where you are and what you feel like driving.</div>
					</div>
				</div>
				<!-- end ngRepeat: image in images -->
				<div class="col-lg-3 col-md-6 ng-scope" data-ng-repeat="image in images">
					<div style="height: 250px; position: relative;"><img style="bottom:0; position:absolute; max-width:100%" ng-src="https://www.mavendrive.com/assets/images/main/maven-simple-steps-3.png" src="https://www.mavendrive.com/assets/images/main/maven-simple-steps-3.png"></div>
					<div
						class="text">
						<div class="number ng-binding">03</div>
						<h3 class="title ng-binding">take a drive</h3>
						<div class="body ng-binding">We’ll connect you to everywhere you want to go. And everything you need to know.</div>
				</div>
			</div>
			<!-- end ngRepeat: image in images -->
			<div class="col-lg-3 col-md-6 ng-scope" data-ng-repeat="image in images">
				<div style="height: 250px; position: relative;"><img style="bottom:0; position:absolute; max-width:100%" ng-src="https://www.mavendrive.com/assets/images/main/maven-simple-steps-4.png" src="https://www.mavendrive.com/assets/images/main/maven-simple-steps-4.png"></div>
				<div
					class="text">
					<div class="number ng-binding">04</div>
					<h3 class="title ng-binding">just hit end</h3>
					<div class="body ng-binding">Drop your car off at the same station you picked it up. Then hit end in the app to complete your trip.</div>
			</div>
		</div>
		<!-- end ngRepeat: image in images -->
	</div>
	</div>
	</div>
	<div class="row region-4">
		<div class="container center-block text-center text-invert">
			<div class="text">
				<h3 class="title"><strong>Choose your</strong> size</h3>
				<p class="body">Leather seats. Power everything. Every bell and whistle you could want. Plus some you’ve never seen before.</p>
			</div>
			<div class="carousel">
				<div class="tabs" vehicle-tab-opts="">
					<div class="option clearfix volt">
						<h3 class="type text-center text-lowercase"><span>eco</span></h3>
						<div class="vehicle-info">
							<p class="description">Vehicles like Chevrolet Volt</p>
						</div>
						<div class="price text-center">
							<div class="numbers"><span class="number"><sub>from</sub>$8.00/<sub>hour</sub></span></div>
						</div>
					</div>
					<div class="option clearfix spark">
						<h3 class="type text-center text-lowercase"><span>Compact</span></h3>
						<div class="vehicle-info">
							<p class="description">Vehicles like Chevrolet Cruze or Spark</p>
						</div>
						<div class="price text-center">
							<div class="numbers"><span class="number"><sub>from</sub>$8.00/<sub>hour</sub></span></div>
						</div>
					</div>
					<div class="option active clearfix">
						<h3 class="type text-center text-lowercase"><span>Sedan</span></h3>
						<div class="vehicle-info">
							<p class="description">Vehicles like Chevrolet Malibu, Buick Regal or Cadillac ATS</p>
						</div>
						<div class="price text-center">
							<div class="numbers"><span class="number"><sub>from</sub>$8.00/<sub>hour</sub></span></div>
						</div>
					</div>
					<div class="option clearfix tahoe">
						<h3 class="type text-center text-lowercase"><span>SUV</span></h3>
						<div class="vehicle-info">
							<p class="description">Vehicles like Chevrolet Tahoe, GMC Yukon or Cadillac Escalade</p>
						</div>
						<div class="price text-center">
							<div class="numbers"><span class="number"><sub>from</sub>$14.00/<sub>hour</sub></span></div>
						</div>
					</div>
				</div>
			</div>
			<p class="body"><sub>* Please download the M-Car Share app to check current vehicles and pricing in your neighborhood.</sub></p>
		</div>
	</div>
	<div class="row region-5">
		<div class="container">
			<div class="top-hero"><img src="https://www.mavendrive.com/assets/images/main/home/smart-hero.png" alt=""></div>
		</div>
	</div>
	<div class="row region-6">
		<div class="container">
			<div class="text">
				<div class="intro">
					<h3 class="title"><strong>Unlock</strong> + Go</h3>
					<p class="body">Your phone is the key to everything. So why not your car? From remote start and keyless entry to real-time information
						and support, our cars connect seamlessly with your phone. So you can keep the world at your fingertips.</p>
				</div>
				<div class="sub-text">
					<h5 class="title">THE M-Car Share APP</h5>
					<p class="body">Designed to do it all. From selecting the right car for you, to getting in with a simple press of the “unlock” button
						as you approach the car.</p>
				</div>
			</div>
			<div class="device"><img src="https://www.mavendrive.com/assets/images/main/home/maven-device-sign-in.png" alt=""></div>
		</div>
	</div>
	<div class="row region-8">
		<div class="container">
			<div class="top-hero"><img src="https://www.mavendrive.com/assets/images/main/home/ready-hero.png" alt=""></div>
			<div class="text">
				<h3 class="title">let's <strong>drive.</strong></h3>
				<p class="body">Membership is free for a limited time. So sign up and get ready to hit the road. It’s fast. It’s fun. And there’s nothing
					else like it.</p>
			</div>
			<signup-button tracking="om-home-signup" class="ng-isolate-scope">
				<div class="button"><input class="btn btn-default btn-block center-block" id="om-home-signup" type="button" value="Sign Up" data-ng-click="vm.enroll()"></div>
			</signup-button>
		</div>
		<!-- ngIf: inviteCodesEnabled -->
	</div>
	</div>
	</div>
	</div>
		<footer>
			<hr>
			<div class="container">
				<div class="navbar-header"><a class="navbar-brand pull-left" href="#!/">M-Car Share</a></div>
				<ul class="nav navbar-nav">
					
				</ul>
			</div>
		</footer>
	
		</body>

</html>