<!DOCTYPE html>
<html>

<head>
<meta content="en-us" http-equiv="Content-Language" />
<title>Manage Cars</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="ManageCars.htm" rel="stylesheet" type="text/css" />
</head>

<body>

	<div id="masthead"></div>
	<div id="top_nav"></div>
	<div id="container">
		<div id="left_col"></div>
		<div id="page_content" style="height: 537px">
			<fieldset name="Group1"
				style="height: 452px; z-index: 1; position: absolute; top: 77px; left: 225px; width: 720px">
				<legend>Manage Cars</legend>
				<input name="btnAdd"
					style="z-index: 2; position: absolute; top: 399px; left: 226px; width: 157px; height: 39px;"
					type="button" value="Add Car" /><input name="btnBack"
					style="z-index: 3; position: absolute; top: 399px; left: 405px; width: 153px; height: 38px;"
					type="button" value="Back" /><label id="Label1"></label>
				<form method="post">
					<input name="Text1"
						style="z-index: 1; position: fixed; top: 201px; left: 347px"
						type="text" />&nbsp; <input name="Text2"
						style="position: fixed; left: 345px; top: 154px" type="text" /> <input
						name="File1"
						style="z-index: 1; position: absolute; top: 341px; left: 112px"
						type="file" /><input height="178" name="Image1"
						style="z-index: 1; position: absolute; top: 59px; left: 376px"
						type="image" width="300" /> <select name="Select1"
						style="position: fixed; left: 346px; top: 370px; width: 189px">
						<option></option>
						<option value="Mini">Mini</option>
						<option value="Sport">Sport</option>
						<option value="Luxary">Luxary</option>
						<option value="SUV">SUV</option>
					</select><br /> Car Plate #<br /> <br /> Year Model<br /> <br /> Brand<br />
					<br /> <input name="Text5"
						style="position: fixed; left: 347px; top: 297px" type="text" /><input
						name="Text4" style="position: fixed; left: 347px; top: 249px"
						type="text" /><br /> <br /> Car Type<br /> <br /> Picture<br />
					<br /> <br />
				</form>
			</fieldset>

		</div>
	</div>
	<div id="footer"></div>

</body>


</html>